# Introduction to Python for Machine Learning

## This notebook contains the code run to get the answers to the quiz

In [2]:
# notebook imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
%matplotlib inline

In [3]:
# import dataset

food_df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [4]:
# print few rows (head and tail)

food_df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [5]:
# get dataset info

food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [6]:
# get dataset description (min, max, mean, etc)

food_df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [7]:
# get dataset shape

food_df.shape

(60943, 12)

In [8]:
year_and_area = food_df[['Y2017', 'Area']]
year_and_area.groupby(['Area']).first()

                                 Y2017
Area
Algeria                       41389.00
Angola                        29817.00
Benin                         11175.00
Botswana                       2205.00
Burkina Faso                  19193.00
Cabo Verde                      537.00
Cameroon                      24566.00
Central African Republic       4596.00
Chad                          15017.00
Comoros                           0.00
Congo                          5111.00
CÃ´te d'Ivoire                 24437.00
Djibouti                        944.00
Egypt                         96443.00
Eswatini                       1125.00
Ethiopia                     106400.00
Ethiopia PDR                      0.00
Gabon                          2065.00
Gambia                         2214.00
Ghana                         29121.00
Guinea                        12068.00
Guinea-Bissau                  1828.00
Kenya                         50221.00
Lesotho                        2092.00
Liberia                        4702.00
Madagascar                    25571.00
Malawi                        17670.00
Mali                          18512.00
Mauritania                     4283.00
Mauritius                      1264.00
Morocco                       35581.00
Mozambique                    28649.00
Namibia                        2403.00
Niger                         21602.00
Nigeria                      190873.00
Rwanda                        11981.00
Sao Tome and Principe           207.00
Senegal                       15419.00
Seychelles                        0.57
Sierra Leone                   7488.00
South Africa                  57010.00
Sudan                         40813.00
Sudan (former)                    0.00
Togo                           7698.00
Tunisia                       11433.00
Uganda                        41167.00
United Republic of Tanzania   54660.00
Zambia                        16854.00
Zimbabwe                      14237.00

In [9]:
# get highes country in 2017

year_and_area.groupby(['Area']).first().max()

Y2017    190873.0
dtype: float64

In [10]:
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [11]:
# get unique countries

len(food_df['Area'].unique())

49

In [12]:
food_df.groupby('Element').first()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,4,Algeria,2501,Population,5301,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Export Quantity,4,Algeria,2905,Cereals - Excluding Beer,5911,1000 tonnes,3.00,7.00,7.00,10.00,17.00
Fat supply quantity (g/capita/day),4,Algeria,2901,Grand Total,684,g/capita/day,80.06,79.36,77.40,80.19,77.28
Feed,4,Algeria,2905,Cereals - Excluding Beer,5521,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
Food,4,Algeria,2905,Cereals - Excluding Beer,5142,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
Food supply (kcal/capita/day),4,Algeria,2901,Grand Total,664,kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
Food supply quantity (kg/capita/yr),4,Algeria,2905,Cereals - Excluding Beer,645,kg,219.56,219.72,221.98,216.02,218.31
Import Quantity,4,Algeria,2905,Cereals - Excluding Beer,5611,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
Losses,4,Algeria,2905,Cereals - Excluding Beer,5123,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
Other uses (non-food),4,Algeria,2905,Cereals - Excluding Beer,5154,1000 tonnes,787.00,847.00,835.00,840.00,951.00
Processing,4,Algeria,2905,Cereals - Excluding Beer,5131,1000 tonnes,35.00,38.00,37.00,33.00,44.00
Production,4,Algeria,2905,Cereals - Excluding Beer,5511,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
Protein supply quantity (g/capita/day),4,Algeria,2901,Grand Total,674,g/capita/day,94.90,94.35,94.72,92.82,91.83
Residuals,4,Algeria,2905,Cereals - Excluding Beer,5170,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
Seed,4,Algeria,2905,Cereals - Excluding Beer,5527,1000 tonnes,177.00,189.00,197.00,202.00,278.00
Stock Variation,4,Algeria,2905,Cereals - Excluding Beer,5072,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
Total Population - Both sexes,4,Algeria,2501,Population,511,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
Tourist consumption,7,Angola,2913,Oilcrops,5171,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [13]:
my_tuple = (1, 2, 5, 8)
my_tuple[2] = 6

TypeError: 'tuple' object does not support item assignment

In [ ]:
sns.pairplot(food_df)

### Not trying to justify my score, but my PC freezed while running this last cell (the data seemed too big) and so I had to answer about 6 questions off the top of my head. I can't do them now, otherwise there would be descripancies in my answers and the notebook.